{% extends 'hotel/main.html' %} {% block content %}
<section>

</section>



<p> <a href="{% url 'info' booking.room.hotel.id %}">View Hotel Payment Informations and how to pay</a> </p>


<form action="" method="POST">
    {% csrf_token %}
    <!-- <div class="input-group mb-3">
        <label for="booking">Booking:</label><br>
        <input type="text" class="form-control" id="booking" name="booking" value="{{booking.id}}">
    </div> -->


    <label for="payment_method">Payment Method:</label> <br>
    <select id="payment_method" name="payment_method">
    {% for payment_meth in payment_methods %}

    <option name="payment_meth" value="{{payment_meth.id}}">{{payment_meth.method}}</option>
   
    {%endfor%}
  </select>

    <div class="input-group mb-3">
        <label for="paid_by">Paid by:</label><br>
        <input type="text" class="form-control" id="paid_by" name="paid_by">
    </div>

    <div class="input-group mb-3">
        <label for="transactionid">Transaction Id:</label><br>
        <input type="text" class="form-control" id="transactionid" name="transactionid">
    </div>


    <input type="submit" value="Submit">
</form>

{%endblock%}