 {% extends 'main.html' %} {% block content %}


<section id="hero" class="hero d-flex align-items-center mt-0">
    <div class="container">
        <div class=" d-flex flex-column align-content-center justify-content-center">
            <h2 data-aos="fade-up">Book your hotel</h2>
            <p data-aos="fade-up" data-aos-delay="100">Get your favourite hotel anywhere in Ethiopia</p>
        </div>



        <form method="GET" action="{% url 'home' %}">

            <div class="row ">
                <div class="col-lg-12  col-md-10 mt-2  d-flex justify-content-center ">
                    <input type="text" class="form-control" name="q" placeholder="Search Hotels or Cities...">
                </div>


                <div class="search d-flex justify-content-center mr-1 mt-2">
                    <button type="submit" class="btn btn-primary">Search </button>
                </div>
            </div>
        </form>

    </div>
</section>

<section id="service" class="services pt-0">


    <div class="section-header">
        <span>Our Hotels</span>
        <h2>Our Hotels</h2>

    </div>

    <div class="row gy-4">

        {% for hotel in hotels %}

        <div class="col-lg-3 col-md-4">
            <a href="{% url 'hotel' hotel.id %}">
                <div class="card">
                    <div class="card-img">
                        {%if hotel.image %}
                        <img src="{{hotel.image.url}}" alt="Hotel image" class="img-fluid"> {%endif%}
                    </div>
                    <h3>{{hotel.name}} </h3>
                    <p>{{hotel.description}}</p>
                </div>
            </a>
        </div>

        {% endfor %}
        <!-- End Card Item -->


    </div>
</section>

<!-- <div>
    <h1>Cities</h1>
    <div>
        <a href="{% url 'home' %}">All</a>
    </div>
    {% for city in cities %}
    <div>
        <a href="{% url 'home' %}?q={{city.name}}">{{ city }}</a>
    </div>
    {% endfor %}
</div> -->



<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>More Info</span>
            <h2>Hotels in</h2>

        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200"></div>
        <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

                <div class="accordion-item">
                    <a href="{% url 'home' %}">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button">
                            <i class="bi bi-question-circle question-icon"></i>
                           All
                        </button>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% for city in cities %}
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

                <div class="accordion-item">
                    <a href="{% url 'home' %}?q={{city.name}}">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button">
                                <i class="bi bi-question-circle question-icon"></i>
                                {{ city }}
                            </button>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {%endfor %}
    </div>
</section>


{% endblock %}