{% extends 'main.html' %} {% block content %}
<section id="service" class="services pt-0">


    <div class="section-header">
        <span>Hotel Payment information</span>
        <h2>{{hotel.name}} Hotel Payment information</h2>
        <p>Using one of the Hotel payment information finish your payment </p>
    </div>


    <div class="row gy-4">
        {% for info in infos %}
        <div class="col-lg-3 col-md-4">
            <div class="card">

                <p>Payment method: {{info.method}} <br> Service number: {{info.service_number}} <br> Account/Shortcode: {{info.account_or_shortcode}} <br> Holder: {{info.account_or_shortcode_holder}} <br> Holder phone number: {{info.phone_number}} </p>
                <p>Customer Service number: {{info.customer_service}} </p>
            </div>
        </div>
        {% endfor %}
        <!-- End Card Item -->


    </div>
</section>

{%endblock %}