{% extends 'main.html'%} {% block content%}
<section></section>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h6 class="text-dark mb-0">My Bookings</h6>
    </div>


    <div class="row mt-3">
        <div class="card shadow col-md-21">
            <!-- <div class="card-header ">
                <p class="text-primary m-0 font-weight-bold">Requested Guests</p>
            </div> -->
            <div class="card-body">

                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Hotel</th>
                                <th>Room Type </th>

                                <th>Check-in Date</th>
                                <th>Check-out Date</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Time Since</th>
                                <th>Paid by</th>
                                <th>Booked Room</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{booking.hotel}}</td>
                                <td>{{booking.room}}</td>

                                <td>{{booking.check_in}}</td>
                                <td>{{booking.check_out}}</td>
                                <td>{{booking.quantity}}</td>
                                <td>

                                    {% widthratio booking.room.price 1 booking.quantity %}
                                </td>
                                <td>{{booking.created|timesince}}</td>
                                <td> {{booking.finishpymnt_booking.paid_by}}</td>
                                <td> {{booking.booking_roomnumber.room_number}} </td>
                                <td>
                                    {% if booking.booking_status.accept is True and booking.id != booking.finishpymnt_booking.booking_id%} <a href="{% url 'finish-pymnt' booking.id %}">Finish Payment</a>
                                    <div class="d-flex gap-3 justify-content-around">
                                        {%else%} {% if booking.booking_status.accept is True and booking.id == booking.finishpymnt_booking.booking_id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id != booking.id%}<button class="btn btn-primary">Under Review</button>                                        {%endif%} {% if booking.booking_status.booking_id != booking.id %}
                                        <button class="btn btn-danger">Waiting</button>{%endif%} {% if booking.booking_status.accept is False%} Sorry! The room you request is not available {%endif%}
                                    </div>
                                    {%endif%}
                                    <p></p>
                                    {%if booking.booking_status.accept is True and booking.finishpymnt_booking.booking_id == booking.id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id == booking.id and booking.finishpymnt_booking.finishpayment_status.status is True%}
                                    <button class="btn btn-success">Booked</button> {%else%}
                                    <p></p>
                                    {%if booking.booking_status.accept is True and booking.finishpymnt_booking.booking_id == booking.id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id == booking.id and booking.finishpymnt_booking.finishpayment_status.status is False%}
                                    <button class="btn btn-danger">Not Booked</button> {%endif%} {%endif%}
                                </td>





                            </tr>
                            {%endfor%}






                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>










{% endblock%}