{% extends 'main2.html' %} {% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Add City </h3>

        </div>

        <div class="row ">
            <form method="POST" action="">
                {% csrf_token%}

                <p>Are you sure you want to delete "{{obj}}"?</p>
                <a href="{{request.META.HTTP_REFERER}}">Go back</a>

                <input type="submit" value="Confirm">

            </form>
        </div>
    </div>
</div>
{%endblock%}