{% extends 'main2.html' %} {% block content %}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Manage Hotel Request </h3>

        </div>

        <div class="row ">

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hotel Requests</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Requesting Fullname </th>
                                        <th> Requesting Hotel</th>
                                        <th> Requesting Hotel address</th>
                                    </tr>
                                </thead>

                                {% for work in workwithus %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{work.full_name}} </td>
                                        <td> {{work.hotel_name}} </td>
                                        <td> {{work.hotel_address}} </td>
                                        <td>
                                            <div class="badge badge-outline-warning">Check</div>
                                        </td>

                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}