{% extends 'main2.html' %} {% block content %}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Manage Hotel </h3>

        </div>

        <div class="row ">
            <a href="{% url 'add-hotel' %}">Add Hotel</a><br>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hotels</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> ID </th>
                                        <th> Name</th>
                                    </tr>
                                </thead>

                                {% for hotel in hotels %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{hotel.id}} </td>
                                        <td> {{hotel.name}} </td>
                                        <td>
                                            <div class="badge badge-outline-warning"> <a href="{% url 'update-hotel' hotel.id %}">Update</a></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-outline-danger"><a href="{% url 'delete-hotel' hotel.id %}">Delete</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <a href="{% url 'add-roomgroup' %}">Add RoomGroup</a><br>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Room Groups</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Hotel Name </th>
                                        <th> Type</th>
                                    </tr>
                                </thead>

                                {% for roomgroup in roomgroups %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{roomgroup.hotel.name}} </td>
                                        <td> {{roomgroup.type}} </td>
                                        <td>
                                            <div class="badge badge-outline-warning"> <a href="{% url 'update-roomgroup' roomgroup.id %}">Update</a></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-outline-danger"><a href="{% url 'delete-roomgroup' roomgroup.id %}">Delete</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row ">
            <a href="{% url 'add-facility' %}">Add Facility</a><br>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hotel Facilities</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Type </th>
                                        <th> Name</th>
                                    </tr>
                                </thead>

                                {% for facility in facilities %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{facility.type}} </td>
                                        <td> {{facility.name}} </td>
                                        <td>
                                            <div class="badge badge-outline-warning"> <a href="{% url 'update-facility' facility.id %}">Update</a></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-outline-danger"><a href="{% url 'delete-facility' facility.id %}">Delete</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <a href="{% url 'add-pymntinfo' %}">Add Payment Information</a><br>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hotel Payment Informations</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Hotel name </th>
                                        <th> Payment Method </th>
                                        <th> Account/Short code</th>
                                    </tr>
                                </thead>

                                {% for pymentinfo in pymentinfos %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{pymentinfo.hotel.name}} </td>
                                        <td> {{pymentinfo.method}} </td>
                                        <td> {{pymentinfo.account_or_shortcode}} </td>
                                        <td>
                                            <div class="badge badge-outline-warning"> <a href="{% url 'update-pymntinfo' pymentinfo.id %}">Update</a></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-outline-danger"><a href="{% url 'delete-pymntinfo' pymentinfo.id %}">Delete</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <a href="{% url 'add-pymntmethod' %}">Add Payment Methods</a><br>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hotel Payment Methods</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Type </th>

                                    </tr>
                                </thead>

                                {% for pymntmethod in pymntmethods %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input">
                                                 </label>
                                            </div>
                                        </td>
                                        <td> {{pymntmethod.type}} </td>

                                        <td>
                                            <div class="badge badge-outline-warning"> <a href="{% url 'update-pymntmethod' pymntmethod.id %}">Update</a></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-outline-danger"><a href="{% url 'delete-pymntmethod' pymntmethod.id %}">Delete</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
<!-- main-panel ends -->
</div>


{% endblock %}