{% extends 'main-hoteladmin.html' %} {% block content %}
<a href="{{request.META.HTTP_REFERER}}">Go back home</a>


<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h6 class="text-dark mb-0">Booked Requests</h6>
    </div>


    <div class="row mt-3">
        <div class="card shadow col-md-21">
            <!-- <div class="card-header ">
                <p class="text-primary m-0 font-weight-bold">Requested Guests</p>
            </div> -->
            <div class="card-body">

                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Room Type </th>

                                <th>Check-in Date</th>
                                <th>Check-out Date</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Paid Through</th>
                                <th>Paid by</th>
                                <th>Transaction ID</th>
                                <th>Room Number</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %} {%if booking.finishpymnt_booking.finishpayment_status.status is True %}
                            <tr>
                                <td>{{booking.user.username}}</td>
                                <td>{{booking.room}}</td>

                                <td>{{booking.check_in}}</td>
                                <td>{{booking.check_out}}</td>
                                <td>{{booking.quantity}}</td>
                                <td>

                                    {% widthratio booking.room.price 1 booking.quantity %}
                                </td>


                                <td> {{booking.finishpymnt_booking.payment_method.method}}</td>
                                <td> {{booking.finishpymnt_booking.paid_by}}</td>
                                <td> {{booking.finishpymnt_booking.transactionid}}</td>
                                <td> {{booking.booking_roomnumber.room_number}} </td>


                                <td>

                                    <div class="d-flex gap-3 justify-content-around">
                                        {%if booking.finishpymnt_booking.finishpayment_status.status is True %}<button class="btn btn-primary">Booked</button> {%endif%}
                                    </div>
                                </td>
                                <!-- <td>
                                    <button class="btn btn-success">Waiting</button>
                                </td> -->
                            </tr>
                            {%endif%} {%endfor%}

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>









{%endblock%}