<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Afroperia</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            {% if request.user.is_authenticated %}


            <ul>
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="{% url 'my-booking' request.user.id %}">My Bookings</a></li>

                <li class="dropdown"><a href="#"><span>Top Destinations</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{% url 'home' %}">Hotels in Hawassa</a></li>
                        <li><a href="{% url 'home' %}">Hotels in Addis Ababa</a></li>
                        <li><a href="#">Hotels in Adama</a></li>
                        <li><a href="#">Hotels in Bahirdar</a></li>
                        <li><a href="#">Hotels in Harar</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'home' %}">Contact</a></li>
                <li><a href="{% url 'work-with-us' %}">Work with us</a></li>

            </ul>
            <ul>

                <li><span>Hello {{request.user}}</span><a class="get-a-quote" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
            </ul>
            <ul>
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="{% url 'my-booking' request.user.id %}">My Bookings</a></li>

                <li class="dropdown"><a href="#"><span>Top Destinations</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{% url 'home' %}">Hotels in Hawassa</a></li>
                        <li><a href="{% url 'home' %}">Hotels in Addis Ababa</a></li>
                        <li><a href="#">Hotels in Adama</a></li>
                        <li><a href="#">Hotels in Bahirdar</a></li>
                        <li><a href="#">Hotels in Harar</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'home' %}">Contact</a></li>
                <li><a href="{% url 'work-with-us' %}">Work with us</a></li>

            </ul>
            <li><a class="get-a-quote" href="{% url 'login' %}">Login/Register</a></li>
            {% endif %}
        </nav>



    </div>
</header>