<div id="wrapper">
    {%for hoteladmin in hoteladmins %}
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">

        <div class="container-fluid d-flex flex-column p-0">

            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"> <span>{{hoteladmin.hotel.name}}</span> </div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'booked' hoteladmin.hotel.id %}"><i
                            class="fas fa-tachometer-alt"></i><span>Booked</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'manage-room' hoteladmin.hotel.id %}"><i
                            class="far fa-user-circle"></i><span>Manage Rooms</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'booking-request' hoteladmin.hotel.id %}"><i
                            class="far fa-user-circle"></i><span>Requests Status</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="./profile.html"><i
                            class="fas fa-user"></i><span>Account Setting</span></a></li>

                <li class="nav-item" role="presentation"><a class="nav-link" href="{%url 'logout' %}"><i
                            class="far fa-user-circle"></i><span>Logout</span></a></li>

            </ul>

        </div>

    </nav>
    {%endfor%}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>

                    <ul class="nav navbar-nav flex-nowrap ml-auto">


                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span
                                        class="d-none d-lg-inline mr-2 text-gray-600 small">{{request.user.username}}</span><img
                                        class="border rounded-circle img-profile"
                                        src="/assets/img/avatars/avatar1.jpeg"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Account
                                        Setting</a>

                                    <a class="dropdown-item" role="presentation" href="{%url 'logout' %}"><i
                                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>